# API keys
TMDB_API_KEY="your_tmdb_api_key"

# Anthropic model
ANTHROPIC_API_KEY="your_anthropic_api_key"
ANTHROPIC_MODEL="model_name"

# If changing Ollama variables below, also change the affected parts in docker-compose.yaml
OLLAMA_BASE_URL="http://ollama:11434"
EMBED_MODEL="nomic-embed-text"
VECTOR_SIZE="768" # default vector size of nomic-embed-text embedding model

# Database varibales
POSTGRES_USER="admin"
POSTGRES_PASSWORD="password"
POSTGRES_DB="play_assist_db"
DATABASE_URL="postgresql://admin:password@db:5432/play_assist_db"

# JWT specific user authentication variables 
JWT_SECRET="random_generated_jwt_secret"
JWT_ALGORITHM="HS256"

# One default admin user reuired to access (below are the defaults if not provided)
ADMIN_FIRST_NAME="Admin"
ADMIN_LAST_NAME="Password"
ADMIN_EMAIL="admin@playassist.com"
ADMIN_PASSWORD="password"