# API keys
GEMINI_API_KEY="your_gemini_api_key"
TMDB_API_KEY="your_tmdb_api_key"

# Preferred language for movies content (not a required environment variable)
MOVIES_LANGUAGE = "en-US"

# Database varibales
POSTGRES_USER="admin"
POSTGRES_PASSWORD="password"
POSTGRES_DB="play_assist_db"
DATABASE_URL="postgresql://admin:password@db:5432/play_assist_db"

# JWT specific user authentication variables 
JWT_SECRET="random_generated_jwt_secret"
JWT_ALGORITHM="HS256"